@model MovieTicketBookingManagementWeb.Models.Review

@{
    ViewData["Title"] = "Room Review";
}

<h2>Room Review</h2>

<div>
    <h4>Review Information</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Movie.Title)</dt>
        <dd class="col-sm-9">@Model.Movie.Title</dd>

        

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReviewTime)</dt>
        <dd class="col-sm-9">@(Model.ReviewTime?.ToString("dd/MM/yyyy HH:mm") ?? "Chưa xác định")</dd>
    </dl>
</div>

<div>
    <a asp-action="Update" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
