@model IEnumerable<MovieTicketBookingManagementWeb.Models.Room>

<h2 class="my-4 text-center">Rooms List</h2>
<table id="roomTable" class="table table-bordered table-striped text-center">


    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>SeatCapacity</th>
            <th>Cinema</th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>

                <td>@room.Name</td>
                <td>@room.SeatCapacity</td>
                <td>@room.Cinema.Name</td>
              
                <td>
                    <a asp-action="Update" asp-route-id="@room.ID" class="btn btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@room.ID" class="btn btn-danger">Chi tiet</a>
                    <a asp-action="Delete" asp-route-id="@room.ID" class="btn btn-danger">Xóa</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Thêm room</a>
@section Scripts {
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- jQuery (Cần có trước DataTables.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log("DataTables is initializing...");

            if ($.fn.DataTable) {
                console.log("DataTables loaded successfully!");
            } else {
                console.error("DataTables failed to load!");
            }

            $('#productTable').DataTable();
        });
    </script>
    }