@model IEnumerable<MovieTicketBookingManagementWeb.Models.Cinema>

@{
    ViewData["Title"] = "Rạp chiếu phim";
}

<h2 class="text-center text-primary mb-4">Chọn Chi Nhánh</h2>

<div class="row">
    @foreach (var cinema in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm rounded-3">
                <img src="@cinema.GoogleMapEmbedUrl" class="card-img-top" alt="Map of @cinema.Name" />
                <div class="card-body">
                    <h5 class="card-title">@cinema.Name</h5>
                    <p class="card-text"><strong>Địa chỉ:</strong> @cinema.Location</p>
                    <p class="card-text"><strong>SĐT:</strong> @cinema.Phone</p>
                </div>
            </div>
        </div>
    }
</div>
