@model IEnumerable<MovieTicketBookingManagementWeb.Models.Cinema>

<h2 class="my-4 text-center">Cinemas List</h2>
<table id="cinameTable" class="table table-bordered table-striped text-center">


    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Location</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cinema in Model)
        {
            <tr>

                <td>@cinema.Name</td>
                <td>@cinema.Location</td>
                

                <td>
                    <a asp-action="Update" asp-route-id="@cinema.ID" class="btn btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@cinema.ID" class="btn btn-danger">Chi tiet</a>
                    <a asp-action="Delete" asp-route-id="@cinema.ID" class="btn btn-danger">Xóa</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Thêm rap chieu phim</a>
