@model IEnumerable<MovieTicketBookingManagementWeb.Models.Showtime>

<h2 class="my-4 text-center">ShowTime List</h2>
<table id="showtimeTable" class="table table-bordered table-striped text-center">


    <thead class="table-dark">
        <tr>
            <th>Movie Title</th>
            <th>Room</th>
			<th>Cinema</th>
            <th>Price</th>
            <th>Start Time</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var showtime in Model)
        {
            <tr>

                <td>@showtime.Movie.Title</td>
                <td>@showtime.Room.Name</td>
                <td>@showtime.Room.Cinema.Name</td>
                <td>@showtime.Price.ToString("C")</td>
                <td>@showtime.StartTime.ToString("HH:mm, dd/MM/yyyy")</td>

                <td>
                    <a asp-action="Update" asp-route-id="@showtime.ID" class="btn btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@showtime.ID" class="btn btn-danger">Chi tiet</a>
                    <a asp-action="Delete" asp-route-id="@showtime.ID" class="btn btn-danger">Xóa</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Thêm showtime</a>
