@model IEnumerable<MovieTicketBookingManagementWeb.Models.Movie>

<h2>Danh sách phim - @ViewData["SelectedGenre"]</h2>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="@movie.PosterUrl" alt="@movie.Title">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    
                    <p class="card-text"><strong>Thể loại:</strong> @movie.Genre.Name</p>
                    <a href="@Url.Action("Details", "Movies", new { id = movie.ID })" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>
