@model IEnumerable<MovieTicketBookingManagementWeb.Models.Movie>

<h2 class="my-4 text-center">Movies List</h2>
<table id="movieTable" class="table table-bordered table-striped text-center">


    <thead class="table-dark">
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Language</th>
            <th>Duration</th>
            <th>ReleaseDate</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                   
                    <img src="@movie.PosterUrl" alt="@movie.Title" class="img-thumbnail" style="width: 60px; height: 60px;">
                </td>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.Language</td>
                <td>@movie.Duration</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Description</td>
                
                <td>
                <a asp-action="Update" asp-route-id="@movie.ID" class="btn btn-warning">Sửa</a>
				<a asp-action="Details" asp-route-id="@movie.ID" class="btn btn-danger">Chi tiet</a>
				<a asp-action="Delete" asp-route-id="@movie.ID" class="btn btn-danger">Xóa</a>
				</td>

                
            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary">Thêm phim</a>
